*{
  background-color: black;
  color: darkolivegreen;
}

div.card-header, div.card-footer{
  background-color: darkolivegreen;
  color: black;
}

a.active, a.inactive{
  color: darkolivegreen;
}

div.card{
  border: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button.btn.btn-primary{
  background-color: green!important;
  border: none;
}
